:root {
    --body-margin: 32px;
    --row-distance: 10px;
    --content-padding: 16px;
    --header-height: 60px;

    --ft-color-0: #303030;
    --ft-color-1: #000000;

    --bg-color-0: #c2ddff;
    --bg-color-1: #D3E7FF;
}

html {
    background-color: var(--bg-color-0, rgb(124, 124, 124));
}

body {
    margin: 0;
}

.main-content {
    padding: var(--content-padding, 16px);
}